/* css reset */
*{margin: 0; padding: 0;}
*{box-sizing: border-box;}
*::before, *::after{box-sizing: border-box;}
ul,ol{ list-style: none;}
a{color: inherit; text-decoration: none;}
img{ max-width: 100%; max-height: 100%;}
/* style */
body{background: #eee;}

.globalHeader{ 
    margin: 20px;
}
@media(min-width: 500px) {
    .globalHeader {
        margin: 60px 0 100px;
    }
}
.searchFrom {
    display: flex;
    justify-content: space-between;
}
@media(min-width: 500px) {
     .searchFrom{
         max-width: 400px;
         margin-left: auto;
         margin-right: auto;
     }
}
.searchFrom > input{ 
    width: 100%;
    height: 40px;
    padding: 0 10px; 
    border: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
}
.searchFrom > button{ 
    white-space: nowrap;
    margin-left: 8px;
    padding: 0 27px;
    border: none;
    border-radius: 4px;
    background: #3890E2;
    color: #fff;
    font-size: 18px;

}

.globalMain{ 
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.siteList{ 
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
}
@media(min-width: 500px) {
    .siteList{
       margin-left: 0;
       margin-right: -25px;
       justify-content: flex-start;
    }
}
.siteList > li{
    margin-bottom: 10px;
 }
 @media(min-width: 500px) {
    .siteList > li {
        margin-right: 25px;
    }
 }
.siteList .site{
    border: 1px solid red;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 16px 0;
    position: relative;
    cursor: pointer;
 }
.siteList .site > .logo{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    text-transform: uppercase;
 }
.siteList .site > .link{ 
    font-size: 14px;
    margin-top: 6px;
}
.siteList .site > .close{ 
    position: absolute;
    right: -6px;
    top: -10px;
    display: block;
    cursor: default;
}
@media(min-width: 500px) {
    .siteList .site > .close {
        display: none;
    }
}
.siteList .site:hover > .close{ 
    display: block;
}
.siteList .addButton{ 
    border: 1px solid #dddddd;
    background: #fff;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}
.siteList .addButton .icon{
    width: 56px;
    height: 56px;
}
.siteList .addButton .text{ 
    font-size: 14px;
    margin-top: 6px;
}
.siteList .addButton .icon-wrapper{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
